body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #a76ec0, #dd6da9);
  min-height: 100vh;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #211f1f;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 5px 5px 0;
}

.add-btn {
  width: 100%;
  background: #667eea;
  color: white;
  font-weight: bold;
}

.add-btn:hover {
  background: #5a67d8;
}

.user-card {
  background: #f7f7f7;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  font-size: 14px;
}

.edit-btn {
  background: #f6ad55;
  color: white;
}

.delete-btn {
  background: #e53e3e;
  color: white;
}